<h2><%= @category.name%>'s articles are listed below</h2>

<ul>
 <% @articles.each do |article| %>
 <hr>
 Title: <%= article.title %><br><br>
 Content: <%= article.content %><br><br>
 <%end%>
 <%= link_to "Create a new article", new_category_article_path(@category.id) %>


</ul>
