<h2>Welcome to Our Awesome Website</h2>
<ul>
  <% @categories.each do |category| %>
  <li><%= category.name %></li>
  <h5><%= link_to "Edit This Category", edit_category_path(category)%></h5>
<%end%>
</ul>
