<div class="container">

<h2>New Category Page</h2>

<%= form_for @category do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>
  <%end %>
</div>
